html {
  background: #fff;
}
@media screen and (min-width: 50em) {
  .grid-container {
    display: flex;
    border-bottom: 1px solid #ddd;
    height: 300px;
  }

  .grid-left,
  .grid-right {
    position: relative;
    width: 50%;
    overflow-y: scroll;
  }
}

.preview-wrapper,
.error-wrapper {
  padding: 12px;
}

.preview-wrapper h1 {
  font-size: 1.25em;
}
.preview-wrapper img {
  max-width: 50px;
}
